////
/// @group Font system
/// based on Guss Typography
/// https://github.com/guardian/guss-typography/

// Typographic matrix
///
/// font-size: get-font-size($name, $level), 
/// line-height: get-line-height($name, $level) 

///
/// Adjust size of fonts
///
/// @param {String} $level - Accepts 1,2,3,4 etc...
///
/// @example
///  @include FontSizeFor(story-title, 3);
///  @include FontSizeOnlyFor(story-title, 3);
///  @include LineHeightOnlyFor(story-title, 3);
///
/// @requires {mixin} font-size
/// @requires {function} get-font-size
/// @requires {function} get-line-height 
@mixin FontSizeFor($name, $level) {
  @include font-size(get-font-size($name, $level), get-line-height($name, $level));
}

@mixin FontSizeOnlyFor($name, $level) {
  font-size: get-font-size($name, $level);
}

@mixin LineHeightOnlyFor($name, $level) {
  line-height: get-line-height($name, $level);
}

///
/// Adjust size of sans
///
/// @param {String} $level - Accepts xl, l, m, s, xs
///
/// @example
///  @include FontSizeHeader(m);
///
/// @requires {mixin} font-size
/// @requires {function} get-font-size
/// @requires {function} get-line-height 
///
@mixin FontSizeHeaderIcons($level) {
	@include font-size(get-font-size(header, $level), get-line-height(header, $level));
}

///
/// Adjust the font to sans and set the size / line-height
///
/// @param {String} $level - Accepts xl, l, m, s, xs
///
/// @example
///  @include HeaderIcons(m);
///
/// @requires {mixin} FontSizeHeaderIcons
///
@mixin HeaderIcons($level) {
    font-size: get-font-size(header-icons, $level);
    line-height: get-line-height(header-icons, $level);
}