// ==========================================================================
// Main .scss file  - All import calls go here
// ==========================================================================
//
// The main file (usually labelled skin.scss) should be the only file
// from the whole code base not to begin with an underscore.
// This file should not contain anything but @import and comments.
//

@import

// 1. Settings
// Variables, global config and colors
// ==========================================================================
"settings/_config",
"settings/_global",

// oGrid System with SassMq
"settings/_grid",
// Colors
'settings/_colors',
// Typography
"settings/_typography",
// Z-index
"settings/_z-index",

// ==========================================================================
// 2. Tools
// Helper functions, mixins and aliases
// ==========================================================================
"tools/_functions", // General functions to help with development
"tools/_mixins", // General mixins to help with development

// Mixins
"tools/mixins/_clearfix", // Clearfix
"tools/mixins/_typography", // Typography mixins
// Vendor: Bourbon mixin library
"tools/bourbon/_bourbon",
// Aliases
"tools/_aliases",

// ==========================================================================
// 3. Generic
// Resets and normalize styles
// ==========================================================================
"generic/_box-sizing",
"generic/_normalize",
"generic/_reset",
"generic/_shared",

// ==========================================================================
// 4. Elements
// Base elements and styles
// ==========================================================================
// "elements/_fonts", // @deprecated TODO: Find a better place for font calling
// "elements/_icons", // @deprecated TODO: Start using svg's instead of fonts for icons
"elements/_page", //
"elements/_headings", //
"elements/_links", //
"elements/_lists", //
"elements/_images", //
"elements/_quotes", //
"elements/_table", //

// ==========================================================================
// 5. Objects
// Basic layout styles, headlines, lists
// ==========================================================================
"objects/_grid",
"objects/_wrappers",
"objects/_layout",
"objects/_headline",
"objects/_media",
"objects/_list-bare",
"objects/_list-inline",
"objects/_crop",

// ==========================================================================
// 6. Vendor
// Third party components, javascript plugins
// ==========================================================================
// Slick carousel styles
"vendor/slick/slick",
"vendor/slick/slick-theme",
// Custom DNN fixes
"vendor/dnn/_admin",
"vendor/dnn/_dnn-styles",

// ==========================================================================
// 7. Components
// Styles for components, modules and widgets
// ==========================================================================

// 7.1 Base components
"components/_logo",
"components/_page",
"components/_page-head",
"components/_page-footer",
//"components/_nav-mobile",
"components/_nav-primary",
"components/_buttons",
"components/_table",

// 7.2 Site components
"components/_module-container",
"components/_headline",
"components/_sharing-bar",
"components/search/_search-box",
"components/search/_search-results",

// DNN components and skin objects
"components/dnn/_form-items",
"components/dnn/_login",
"components/dnn/_cookie-consent.scss",

// ==========================================================================
// 8. Utilities
// Utilities, Heading styles, Helper classes
// ==========================================================================
"utilities/_helpers",
"utilities/_faux-block-link",
"utilities/_widths",
"utilities/_headings",
"utilities/_spacing",
"utilities/_debug",
//"utilities/_shame",
//"utilities/_ie-fix", // IE fix
"utilities/_print"; // Print
