$sponsors-box-size-M: 140px; //

.sponsors {
  @include oGridRespondTo($from: XL) {
    margin-top: 230px;
  }
}
.sponsors__category {
  margin-bottom: $base-spacing-unit;
}
.sponsors__category-name {
  @include FontWeight(normal);
  font-family: $base-ff-text;
  color: $color-sponsors-category-name;
  text-transform: uppercase;
  margin-top: $base-spacing-unit;
  margin-right: $base-spacing-unit*2;
}
.sponsors__item {
  margin-left: $base-spacing-unit/2;
  margin-right: $base-spacing-unit/2;
}
.sponsors__name {
  @include FontWeight(medium);
  display: table-cell;
  width: $sponsors-box-size-M;
  height: $sponsors-box-size-M;
  padding: $base-spacing-unit;
  color: $color-sponsors-name;
  text-align: center;
  vertical-align: middle;
  border: solid 1px $color-sponsors-name-border;
  //
  transition: border 0.3s ease-out;
}
.sponsors__logo {
  opacity: 0.8;
  transition: opacity 0.3s ease-out;
}
.sponsors__link {
  display: block;
  @include hocus() {
    text-decoration: none;
    .sponsors__name {
      border: solid 1px $color-sponsors-name-border-hover;
    }
    .sponsors__logo {
      opacity: 1;
    }
  }
}
