// =============================================================================
// TOOLS / #TYPOGRAPHY
// =============================================================================

// Functions
// ==============================================

// font-size()
// ------------------------------------

// Function to get font-size from `$text` instead of using `map-get`.
@function font-size($key, $variant:large) {
  @return map-get-deep($text, $key, $variant, font-size);
  // @return _text-map-get(font-size, $key, $variant);
}

// line-height()
// ------------------------------------

// Function to get line-height from `$text` instead of using `map-get`.
@function line-height($key, $variant:large) {
  @return map-get-deep($text, $key, $variant, line-height);
}

// Mixins
// ==============================================

// @include font()
// ------------------------------------

// Create a fully formed type style (sizing and line-height) by passing in a
// single value, e.g:
//
// .foo {
//   @include font(text-body);
// }
//
// This will generate a rem-based font-size with its pixel fallback and
// line-height, e.g:
//
// .foo {
//   font-size: 18px;
//   font-size: 1rem;
//   line-height: 1.4;
// }

@mixin font($key, $variant:large, $line-height:auto) {
  $font-size: font-size($key, $variant);

  @include rem($font-size);

  @if (type-of($line-height)==number or $line-height=='inherit' or $line-height=='normal') {
    line-height: $line-height;
  }
  @elseif ($line-height !='none' and $line-height !=false) {
    line-height: line-height($key, $variant);
  }

}

// @include rem()
// ------------------------------------

// Generates a rem-based font-size with its pixel fallback e.g:
//
// .foo {
//     @include rem(20px);
// }
//
// Will output:
//
// .foo {
//   font-size: 18px;
//   font-size: 1rem;
// }

@mixin rem($value) {
  @if unit($value) != "px" {
    @warn "Value must by a px unit";
  }
  font-size: $value;
  font-size: ($value / $global-font-size) * 1rem;
}
