// =============================================================================
// TOOLS / #TYPOGRAPHY
// =============================================================================

// Functions
// ==============================================

// font-size()
// ------------------------------------

// Function to get font-size from `$text` instead of using `map-get`.
@function font-size($key, $variant:large) {
  @return map-get-deep($text, $key, $variant, font-size);
  // @return _text-map-get(font-size, $key, $variant);
}

// line-height()
// ------------------------------------

// Function to get line-height from `$text` instead of using `map-get`.
@function line-height($key, $variant:large) {
  @return map-get-deep($text, $key, $variant, line-height);
}

// Mixins
// ==============================================

// @include font()
// ------------------------------------

// Create a fully formed type style (sizing and line-height) by passing in a
// single value, e.g:
//
// .foo {
//   @include font(text-body);
// }
//
// This will generate a rem-based font-size with its pixel fallback and
// line-height, e.g:
//
// .foo {
//   font-size: 18px;
//   font-size: 1rem;
//   line-height: 1.4;
// }

@mixin font($key, $variant:large, $line-height:auto) {
  $font-size: font-size($key, $variant);

  @include rem($font-size);

  @if (type-of($line-height)==number or $line-height=='inherit' or $line-height=='normal') {
    line-height: $line-height;
  }
  @elseif ($line-height !='none' and $line-height !=false) {
    line-height: line-height($key, $variant);
  }

}

// @include font-size()
// ------------------------------------

/// Generate a font-size and baseline-compatible line-height.
///
/// @example scss
///   .element {
///     @include font-size(20px, none, true);
///   }

@mixin font-size($font-size, $line-height: auto, $important: false) {
  @if (type-of($font-size)==number) {
    @if (unit($font-size) !="px") {
      @error "`#{$font-size}` needs to be a pixel value.";
    }
  }
  @else {
    @error "`#{$font-size}` needs to be a number.";
  }
  @if ($important==true) {
    $important: !important;
  }
  @elseif ($important==false) {
    $important: null;
  }
  @else {
    @error "`#{$important}` needs to be `true` or `false`."
  }

  // We provide a `px` fallback for old IEs not supporting `rem` values.
  font-size: $font-size $important;
  font-size: ($font-size / $global-font-size) * 1rem $important;
  @if ($line-height=='auto') {
    line-height: ceil($font-size / $global-line-height) * ($global-line-height / $font-size) $important;
  }
  @else {
    @if (type-of($line-height)==number or $line-height=='inherit' or $line-height=='normal') {
      line-height: $line-height $important;
    }
    @elseif ($line-height !='none' and $line-height !=false) {
      @error "D’oh! `#{$line-height}` is not a valid value for `$line-height`."
    }
  }
}

// @include rem()
// ------------------------------------

// Generates a rem-based font-size with its pixel fallback e.g:
//
// .foo {
//     @include rem(20px);
// }
//
// Will output:
//
// .foo {
//   font-size: 18px;
//   font-size: 1rem;
// }

@mixin rem($value) {
  @if unit($value) != "px" {
    @warn "Value must by a px unit";
  }
  font-size: $value;
  font-size: ($value / $global-font-size) * 1rem;
}
