////
/// Master header
/// @group components
///
/// @todo Clean these styles
////

.hero-banner {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;

  @include oGridRespondTo(L) {
    margin-top: 90px;
    height: 92%; // older browsers
    height: -webkit-calc(100% - 90px); // Safari 6, Chrome 19-25
    height: -moz-calc(100% - 90px); // FF 4-15
    height: calc(100% - 90px); // FF 16+, IE 9+, Opera 15, Chrome 26+, Safari 7 and future other browsers
  }

}

.banner {
  opacity: 0;
  text-align: center;
  height: 100%;
  position: relative;
  width: 100%;
  transition: opacity 1s ease-in-out 0s;
  -o-transition: opacity 1s ease-in-out 0s;
  -moz-transition: opacity 1s ease-in-out 0s;
  -webkit-transition: opacity 1s ease-in-out 0s;

}
.banner.lazyloaded {
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  @include oGridRespondTo(L) {
    background-position: 0 0;
  }
  //
  @include oGridRespondTo($until: L) {
    background-attachment: scroll;
  }
}
.banner__background {
  width: 100%;
  height: 100%;
  z-index: 1;
}
.banner__background img {
  width: 100%;
  height: 100%;
}
.banner__inner {
  vertical-align: middle;
  position: absolute;
  bottom: 10%;
  width: 100%;

  text-align: center;
  z-index: 10;

  @include oGridRespondTo(L) {
    top: 50%;
    bottom: inherit;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: right;
  }

}
.banner__btn-list {
  padding-top: 20px;
}
