////
/// Mobile navigation component
/// @group components
///
/// @todo Clean these styles
////

$mobile-button: 30px;
$menu-width: 240px;
$menu-width-L: 340px;

// Mobile navigation button
.mobile-menu--box {
  float: left;
  padding: 0 20px;
  color: $color-grey-tint7;
  cursor: pointer;

  @include oGridRespondTo(M) {
    border-right: 1px solid $color-page-head-border;
  }

  span {
    display: none;
    @include oGridRespondTo(M) {
      display: inline;
    }
  }
}

.c-nav-mobile__button {
  @include size($mobile-button);
  @include clearfix();
  //
  position: relative;
  top: -5px;
  background-color: transparent;
  border: none;
  outline: none;

  > .icon-burger {
    @include transform(translate(-50%, -100%));
    @include size(22px 2px);
    background-color: $color-page-head-icon-links;
    left: 50%;
    &:before {
      @include transform(translateY(-7px));
      background-color: $color-page-head-icon-links;
    }
    &:after {
      @include transform(translateY(7px));
      background-color: $color-page-head-icon-links;
    }
  }
  &.is-active > .icon-burger:before {
    @include transform(translateY(0) rotate(45deg));
  }
  &.is-active > .icon-burger:after {
    @include transform(translateY(0) rotate(-45deg));
  }
}
// Block scrolling if menu is active
body.is-active\@sm {
  @include size(100%);
  overflow: hidden;
  .c-main-content:after {
    @include size(100%);
    //
    content: '';
    position: fixed;
    top: 0; // header height
    left: 0;
    z-index: 10;
    overflow: hidden;
    background-color: transparent;
    //
  }
}
.c-nav-mobile {
  @include transform(translate3d(-100%,0,0));
  @include size($menu-width 100%);
  //
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: $zindex-offcanvas;
  background-color: $color-white;
  overflow-y: auto;
  color: $color-black;

  .icon {
    color: $color-black;
  }
  @include oGridRespondTo($from: L) {
    @include size($menu-width-L 100%);
  }
}
//
.c-page-head.is-active,
.c-page-head.is-active ~ .c-main-content,
.c-page-head.is-active ~ .c-page-footer {
  //@include transform(translate3d(70%,0,0));
}
.c-nav-mobile.is-active {
  @include transform(translate3d(0,0,0));
}
.c-nav-mobile.is-opened {
  @include transition-property(transform);
  @include transition-duration($global-transition);
  @include transition-timing-function(ease-out);
  @include transition-delay(0s);
}
@include oGridRespondTo($from: M) {
  .c-page-head.is-active,
  .c-page-head.is-active ~ .c-main-content,
  .c-page-head.is-active ~ .c-page-footer {
    //@include transform(translate3d(0,0,0));
  }
}
//

.c-nav-mobile__inner {
  position: relative;
  background-color: $color-white;
}

.c-nav-mobile__list {
  margin-bottom: 0px;
  // padding-top: 15px;
  padding-bottom: 25px;
  clear: left;
  margin-left: $global-spacing-unit;
  margin-right: $global-spacing-unit;

  .c-nav-mobile__secondary & {
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.c-nav-mobile__secondary {
  display: none;
}
//
.c-nav-mobile__item {
  position: relative;
  padding-left: 0;

  &:last-child .c-nav-mobile__link {
    border-bottom: none;
  }

  &--has-child {
    .icon {
      position: absolute;
      top: 5px;
      right: 0;
      padding: 10px;
      cursor: pointer;
    }

    &.is-active .c-nav-mobile__secondary {
      display: block;

      .c-nav-mobile__link {
        border-bottom: solid 1px $color-nav-mobile-border-alt;
      }
    }
  }
}

.c-nav-mobile__link {
  //
  display: block;
  padding: 15px 0 10px 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  border-bottom: solid 1px $color-nav-mobile-border;
  &:hover,
  &:active {
  }
}
.c-nav-mobile .language-object {
  position: absolute;
  line-height: 70px;
  top: 0;
  right: 0;
  margin-right: $global-spacing-unit/2;

  @include oGridRespondTo($until: M) {
    line-height: 50px;
  }
}

.c-nav-mobile .c-nav-language__item {
  padding-left: $global-spacing-unit/2;
  padding-right: $global-spacing-unit/2;
  font-size: 16px;
}

.c-nav-mobile .c-nav-language__item > a {
  color: $color-grey-tint5;
}
.c-nav-mobile .c-nav-language__item.is-selected {
  color: $color-white;
}

.c-nav-mobile .c-nav-language__item:first-child {
  padding-left: 5px;
}

.c-nav-language__headline {
  padding-left: 5px;
  font-size: 16px;
  @include FontWeight(medium);
}

// Mobile-overlay
.mobile-overlay {
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
  z-index: $zindex-overlay;

  &.is-active {
    visibility: visible;
    background: rgba( $color-black, .6 );
    @include transition-property(background);
    @include transition-duration($global-transition);
    @include transition-timing-function(ease-out);
    @include transition-delay(0s);
  }
}

// Search on mobile
.c-nav-mobile__search-button {
  display: block;
  width: 100%;
  padding: 0 $global-spacing-unit;
  border: 0;
  text-align: left;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  color: #999;
  line-height: 70px;
  background-color: #000;

  > .icon {
    margin-right: $global-spacing-unit/2;
    color: #999;
  }
  @include oGridRespondTo($until: M) {
    color: #999;
    border-top: none;
    border-bottom: none;
    line-height: 50px;
  }
}
