//  #NAV-PRIMARY
// .UPR_Administrators {
//   .c-page-head__menu {
//     margin-top: 94px;
//   }
// }
.c-page-head__menu {
  background-color: rgba(0, 0, 0, 0.5);
}
.c-nav-primary {
  margin: 0 auto;
  @include oGridRespondTo(XL) {
    padding-left: $base-spacing-unit*2;
    padding-right: $base-spacing-unit*2;
  }
  > ul {
    display: flex;
  }
  &__item {
    position: relative;
    flex: 1 1 auto;
  }
  &__link {
    @include FontWeight(normal);
    @include FontSizeFor(header, 5);
    //
    display: block;
    color: $color-page-head-link;
    text-align: center;
    padding: $base-spacing-unit 0;
    @include hocus() {
      text-decoration: none;
      color: $color-page-head-link-hover;
      .c-nav-primary__item--has-child & {
        background-color: $color-red;
        cursor: pointer;
      }
    }
    @include oGridRespondTo(XL) {
       @include FontSizeFor(header, 6);
    }
  }
}
.c-nav-primary__link--parent.c-nav-primary__link--active {
  color: $color-page-head-link-active;
  @include hocus() {
    background-color: $color-transparent;
  }
}
.c-nav-primary__item--has-child {
  @include hocus() {
    .c-nav-primary__link--parent.c-nav-primary__link--active {
      color: $color-page-head-link;
    }
  }
}
.c-nav-primary__item--has-child {
  position: relative;
  > ul.o-list-inline {
    min-width: 350px;
    display: none;
    list-style-type: none;
    padding: 10px;
    background: $color-nav-primary-accent-background;
    position: absolute;
    z-index: 10;
    .c-nav-primary__link {
      text-align: left;
    }
  }
  @include hocus() {
    background: $color-nav-primary-accent-background;
  }
  &:hover > .o-list-inline {
    display: block;
  }
  .c-nav-primary__item--child {
    display: block;
    a {
      padding: 10px 20px;
      display: block;
    }
  }
}
.c-nav-primary__link--child.c-nav-primary__link--active {
  color: $color-page-head-link-hover;
}
