//  #NAV-PRIMARY__FOOTER

.c-nav-primary__footer {
  font-family: $base-ff-text;
  margin: 0 auto;
  > ul {
    display: flex;
  }
  .c-nav-primary__item {}
  .c-nav-primary__link {
    display: inline-block;
    padding: 0 20px;
    @include FontWeight(medium);
    color: $color-grey-tint6;
    @include FontSizeFor(footer, 2);
    @include hocus() {
      text-decoration: none;
      color: $color-page-footer-link-hover;
    }
    &:first-child {
      padding-left: 0;
    }
    &--active {
      cursor: default;
    }
  }
}
