//  #PAGE-FOOT
.c-page-footer,
.c-page-footer__bottom,
.c-page-footer__top {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $base-ff-display;
  }
}
.c-page-footer {
  background: $color-black;
}
.c-page-footer__top.c-page-section--alt {
  background: $color-grey-tint10;
}
.c-page-footer__bottom {
  border-top: 1px solid $color-grey-tint6;
}
.c-nav-primary__footer {
  @include oGridColspan((default: 12, L: 8));
}
.c-page-footer--copyright {
  @include oGridColspan((default: 12, L: 4));
  @include FontWeight(medium);
  color: $color-grey-tint6;
  span {
    @include FontSizeFor(footer, 2);
    a {color: $color-grey-tint6;}
  }
}
// Virtual walk, about teater
.about-theater--box,
.virtual-tour--box {
  position: relative;
  background-size: cover;
  background-position: center;
  color: $color-page-footer-title;
  &:before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba( $color-black, .55);
  }
  .content-box {
    position: relative;
    min-height: 500px;
    h4 {
      color: $color-page-footer-title;
    }
    &--left {
      padding-top: 135px;
      padding-left: $base-spacing-unit + 15px;
      padding-bottom: 30px;

      @include oGridRespondTo(XL) {
        padding-left: calc(100% - (1220px / 2) + 40px);
      }
      h4 {
        @include FontSizeFor(footer, 7);
      }
    }
    &--right {
      padding: 65px ($base-spacing-unit + 15px) 15px 15px;

      @include oGridRespondTo(L) {
        padding: 65px 90px 30px 70px;
      }
      h4 {
        @include FontSizeFor(footer, 6);
        @include FontWeight(normal);
        margin-bottom: 40px;
      }
      p {
        max-width: 650px;
      }
    }
  }
}
/// SPONSORS
.c-page-section--sponsors {
  padding: 40px 0 15px;
  h5 {
    @include FontSizeFor(footer, 4);
    color: $color-page-footer-title;
    margin-bottom: 35px;
  }
}
.sponsors__list {
  align-items: center;
  padding-bottom: 50px;
  img {
    opacity: 0.8;
    transition: opacity 0.3s ease-out;
  }
}
// CONTACT INFO
.pane--contact-info {
  padding: 55px 0 40px;
  color: $color-page-foot;
  .c-logo {
    float: none;
    display: block;
    margin-bottom: 35px;
  }
  a {
    color: $color-page-foot;
    text-decoration: underline;
  }
  .social-network-list {
    @include clearfix();
    margin-left: 0;
    margin-top: 20px;
    li {
      float: left;
      list-style: none;
      margin-right: 20px;
      a {
        text-decoration: none;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .o-media {
    padding-top: 25px;
    p {
      @include FontSizeFor(footer, 1);
    }
    .o-media__img img {
      border-radius: 3px;
    }
  }
  .contact-info {
    &--left {
      @include oGridColspan((default: 12, M: 3));
    }
    &--middle {
      @include oGridColspan((default: 12, M: 3));
    }
    &--right {
      @include oGridColspan((default: 12, M: 4));
    }
    &--title {
      color: #cccccc;
    }
  }
}
