////
/// Page styles
/// @group components
////

::selection {
  background: $color-selection-background; // WebKit/Blink Browsers
  color: $color-selection-text;
}

::-moz-selection {
  background: $color-selection-background; // Gecko Browsers
  color: $color-selection-text;
}

////
/// Styles for lazysizes.js script
/// @group components
////

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 400ms;
}
////
/// Styles for DNN Language object
/// @group components
////
// If language: Hrvatski hide English

.lang-hr {
  .lang-en {
    display: none !important;
  }
}
// If language: English hide Hrvatski

.lang-en {
  .lang-hr {
    display: none !important;
  }
}
// Page component styles
