////
/// Page styles
/// @group components
////

::selection {
  background: $color-selection-background; // WebKit/Blink Browsers
  color: $color-selection-text;
}
::-moz-selection {
  background: $color-selection-background; // Gecko Browsers
  color: $color-selection-text;
}

.wow { visibility: hidden; }

////
/// Styles for lazysizes.js script
/// @group components
////

.lazyload,
.lazyloading {
  opacity: 0;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 400ms;
}

////
/// Styles for DNN Language object
/// @group components
////

// If language: Hrvatski hide English
.c-page--lang-hr {
  .lang-en {
    display: none !important;
  }
}

// If language: English hide Hrvatski
.c-page--lang-en {
  .lang-hr {
    display: none !important;
  }
}

/// Page component styles
.c-page {}
