////
/// Grid
///
/// @group objects
////

// Generate grid containers if grid silent mode true
@if $o-grid-is-silent == true {

  // Basic layout styles
	.o-grid-container {
		@include oGridContainer($o-grid-mode);
	}

  .o-grid-container--bleed {
		padding-left: 0;
		padding-right: 0;
	}

	.o-grid-row {
		@include oGridRow;
	}

  // Compact, gutterless row of columns
  .o-grid-row--compact {
    margin-left: 0;

    > [data-o-grid-colspan] {
      padding-left: 0;
    }
  }

  // Center and un-center
  .o-grid-center {
    @include oGridCenter;
  }

  .o-grid-uncenter {
    @include oGridUncenter;
  }

  // Portions

  // Human friendly names for portions and centering:
  //
  // - hide
  // - full-width
  // - one-half
  // - one-third
  // - two-thirds
  // - one-quarter
  // - three-quarters
  // - center
  // - uncenter
  //
  // Modified for classes
  @each $human-friendly-name in (full-width, one-half, one-third, two-thirds, one-quarter, three-quarters) {
    .o-grid-#{$human-friendly-name} {
      // scss-lint:disable DeclarationOrder

      // Restore visibility from `display: none`
      // if `data-o-grid-colspan` was set to `0` or `hide`
      display: block;

      // Define width in %
      @include _oGridFixSafariWrap($human-friendly-name);
      min-width: oGridColspan($human-friendly-name);
      max-width: oGridColspan($human-friendly-name);
      width: oGridColspan($human-friendly-name);
    }
  }
}
