////
/// List inline
///
/// Turns standard list into a inline list
/// indentation.
///
/// @group objects
////

.o-list-inline {
  margin: 0;
  padding: 0;
  list-style: none;

  .flexbox & {
    display: flex;
  }

}

.o-list-inline__item {
  display: inline-block;
}
