/* ==========================================================================
   OBJECTS / LIST-INLINE
   ========================================================================== */

// Turns standard list into a inline list
// indentation.
//
// @group objects
// @example
//   <ul class="o-list-inline">
//     <li class="o-list-inline__item"></li>
//   </ul>

.o-list-inline {
  margin-left: 0;
  list-style: none;
  // .flexbox & {
  //   display: flex;
  // }
}

.o-list-inline__item {
  display: inline-block;
}

/* Spacing modifiers
   =========================================== */

.o-list-inline--wide {

  > .o-list-inline__item {
    margin-right: $global-spacing-unit;
  }
}

.o-list-inline--narrow {

  > .o-list-inline__item {
    margin-right: $global-spacing-unit-small;
  }
}
