////
/// Media object
///
/// BEMIT / OOCSS CSS markup extraction pattern for media object
///
/// @group objects
///
/// @example
///   <div class="o-media">
///     <div class="o-media__img">
///       <img src="#" alt="Image Alt" />
///     </div>
///     <div class="o-media__body">
///       George Monbiot is the author of the bestselling books The Age of Consent: A Manifesto for a New World Order and Captive State: The Corporate Takeover of Britain, as well as the investigative travel books Poisoned Arrows, Amazon Watershed and No Man's Land. His latest book is <a href="http://www.guardianbookshop.co.uk/BerteShopWeb/viewProduct.do?ISBN=9781846147487">Feral: Searching for Enchantment on the Frontiers of Rewilding</a> (being published in paperback as Feral: Rewilding the Land, Sea and Human Life)
///     </div>
///   </div>
///
////

.no-flexbox {
  .o-media {
    display: table;
    width: 100%;
  }

  .o-media__img,
  .o-media__body {
    display: table-cell;
    vertical-align: top;

    .o-media--middle > & {
      vertical-align: middle;
    }
  }

  .o-media__img {
    float: left;
    margin-right: $base-spacing-unit/2;

    @include oGridRespondTo(L) {
      margin-right: $base-spacing-unit;
    }

    img {
      max-width: none;
    }
  }

  .o-media__body {
    width: 100%;
  }

}

.flexbox {

  .o-media {

    display: flex;

    &__img {
      @include flex(0 0 auto);
      margin-right: $base-spacing-unit/2;
      @include oGridRespondTo(L) {
        margin-right: $base-spacing-unit;
      }
    }

    &__body {
      @include flex(1 1 auto);
    }
  }
}
