////
/// Media object
///
/// BEMIT / OOCSS CSS markup extraction pattern for media object
///
/// @group Objects
///
/// @example
///   <div class="o-media">
///     <div class="o-media__img">
///       <img src="#" alt="Image Alt" />
///     </div>
///     <div class="o-media__body">
///       George Monbiot is the author of the bestselling books The Age of Consent: A Manifesto for a New World Order and Captive State: The Corporate Takeover of Britain, as well as the investigative travel books Poisoned Arrows, Amazon Watershed and No Man's Land. His latest book is <a href="http://www.guardianbookshop.co.uk/BerteShopWeb/viewProduct.do?ISBN=9781846147487">Feral: Searching for Enchantment on the Frontiers of Rewilding</a> (being published in paperback as Feral: Rewilding the Land, Sea and Human Life)
///     </div>
///   </div>
///
/// @link http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/
////

$is-flex-ready: true !default;

@if $is-flex-ready == true {
  .o-media {
    display: flex;

    &__img {
      flex: 0 0 auto;
      margin-right: $global-spacing-unit-small;
      @include oGridRespondTo(L) {
        margin-right: $global-spacing-unit;
      }
    }

    &__body {
      flex: 1 1 auto;
    }
  }
} @else {

  .o-media {
    @include clearfix();
  }

  .o-media__body {
    overflow: hidden;
  }

  .o-media__img {
    float: left;
    margin-right: $global-spacing-unit;

    /**
    * Small Media Objects simply have smaller gaps between the image and the body.
    */
    .o-media--small > & {
      margin-right: $global-spacing-unit-small;
    }

    /**
    * …and larger ones are, well, larger.
    */
    .o-media--large > & {
      margin-right: $global-spacing-unit-large;
    }

    /**
    * We can quite easily swap the image and body around by adding the
    * `--reverse` Modifier to the Block.
    */
    .o-media--reverse > & {
      float: right;
      margin-right: 0;
      margin-left: $global-spacing-unit;
    }

    /**
    * …then we can have small or large versions of that.
    */
    .o-media--small.o-media--reverse > & {
      margin-left: $global-spacing-unit-small;
    }

    .o-media--large.o-media--reverse > & {
      margin-left: $global-spacing-unit-large;
    }

  }
}




