/* ==========================================================================
   OBJECTS / #TABLES
   ========================================================================== */

/**
 * Borderless Table
 *
 * Removes default border-bottom on `<table>` rows.
 */
 .o-table-borderless {
  tr {
    border: none;
  }
}
