////
// SearchBoost - Results page
// @group components
//
// @todo Clean these styles
////
.searchSkinObjectPreview {
  margin-left: 0;
  list-style: none;
  padding: 20px 0;
  color: color(grey-10);
}

.searchSkinObjectPreview_group {
  display: none;
}

.searchSkinObjectPreview > li {
  cursor: pointer;
  padding: $global-spacing-unit $global-spacing-unit-small;
  border-bottom: solid 1px rgba(255, 255, 255, 0.5);
  &:last-child {
    border-bottom: none;
  }
  >span {
    @include font-weight(bold);
    margin-bottom: $global-spacing-unit-tiny;
  }
  >p {
    color: transparentize(color(grey-10), 0.2);
    margin-bottom: $global-spacing-unit-tiny;
  }
  @include hocus() {
    background-color: transparentize(color(grey-10), 0.9);
  }
  &:last-child {
    padding-top: 0;
    padding-left: 0;
    cursor: default;
    @include hocus() {
      background-color: transparent;
    }
  }
}

.searchSkinObjectPreview_more {
  @include font-size(14px);
  @include font-weight(bold);
  display: inline-block;
  margin-top: 0;
  margin-left: 0;
  background-color: color(brand);
  padding: $global-spacing-unit-small $global-spacing-unit;
  color: color(grey-10);
  transition: color $global-animation-speed ease, background-color $global-animation-speed ease, border-color $global-animation-speed ease, box-shadow $global-animation-speed ease;
  @include hocus() {
    text-decoration: none;
    background-color: darken(color(brand), 10%);
  }
  @include oGridRespondTo(M) {
    @include font-size(16px);
  }
}
