.sb-results {

}

.sb-material-results .sb-results .media-list,
.sb-material-results .sb-pnl-facets .material-nav-tabs {
  list-style: none;
  margin-left: 0;
}

.sb-material-results .sb-results .media {

}

.sb-material-results .avtsb-comment {
  display: none;
}

.avtsb-pager {

  .lang-en {
    display: none;
    .c-page--lang-en & {
      display: inline-block;
    }
  }

  .lang-hr {
    display: none;
    .c-page--lang-hr & {
      display: inline-block;
    }
  }
}
