////
// SearchBoost - Lightbox search popup
// @group components
//
// @todo Clean these styles
////
$color-lightbox-background: color(grey-10);
$color-lightbox-dark-background: color(brand-alt);
$color-search-popup-icon: color(brand);
$color-search-popup-results-text: color(black);
$color-page-head-icon-links: color(black);
$color-search-box-text: color(grey-10);
$color-search-box-border: color(grey-10);
$color-search-box-background: transparent;
html.no-touchevents .Lightbox--body-open {
  overflow: hidden;
}

.light-box {
  background-color: $color-lightbox-background;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: zindex(modal);
  opacity: 1;
  transition: 0.15s ease-in opacity;
}

.light-box--dark {
  background-color: $color-lightbox-dark-background;
}

.light-box__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.light-box__content {
  margin: $global-spacing-unit-large auto;
  display: table-cell;
  vertical-align: middle;
}

.search-popup {
  width: 90%;
  max-width: 1180px;
  min-height: 650px;
  margin: 0 auto;
  @include oGridRespondTo($until: M) {
    width: 100%;
    padding: 100px 15px 0;
  }
}

.search-popup .search-form__close-button {
  background-color: transparent;
  position: absolute;
  display: block;
  top: 10px;
  right: 10px;
  border: none;
  -webkit-appearance: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.icon-big-cross {
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
}

.icon-big-cross svg {
  display: inline-block;
  vertical-align: middle;
}

.search-popup .search-form__close-button svg path {
  stroke: $color-search-popup-icon;
  fill: $color-search-popup-icon;
}

.search-form>span {
  position: relative;
  display: block;
}

#dnn_dnnSearch_ClassicSearch .button-search {
  @include size(50px);
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  overflow: hidden;
  text-indent: 100%;
  background-color: #fff;
  &:before {
    @include size(50px);
    position: absolute;
    display: block;
    line-height: 50px;
    text-align: center;
    text-indent: 0;
    color: color(brand-alt);
  }
}

.search-popup .search-popup--results-text {
  margin-top: $global-spacing-unit;
  margin-left: $global-spacing-unit;
  color: $color-search-popup-results-text;
  display: inline-block;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}

.search-popup--results-text>span {
  font-size: 20px;
}

.search-form__open-button {
  color: $color-page-head-icon-links;
  background-color: transparent;
  outline: none;
  border: none;
}

.search-popup .search-form #dnn_dnnSearch_txtSearch {
  @include FontWeight(normal);
  @include FontSize(24px, 50px);
  color: $color-search-box-text;
  border: none;
  border-bottom: 1px solid $color-search-box-border;
  background: $color-search-box-background;
  outline: none;
  width: 100%;
  max-height: 50px;
  text-shadow: 0 0 0 #fff;
  text-indent: 6px;
  border-radius: 0;
  -webkit-appearance: none;
  @include oGridRespondTo(M) {
    @include FontSize(24px, 50px);
  }
}
