////
// SearchBoost - Results page
// @group components
//
// @todo Clean these styles
////

.sb-results {
  //placeholder
}

.sb-material-results {
  .sb-results .media-list,
  .sb-pnl-facets .material-nav-tabs {
    list-style: none;
    margin-left: 0;
  }

  .avtsb-comment {
    display: none;
  }
}

.avtsb-pager {
  .lang-en {
    display: none;

    .c-page--lang-en & {
      display: inline-block;
    }
  }

  .lang-hr {
    display: none;

    .c-page--lang-hr & {
      display: inline-block;
    }
  }
}
