/// Our brand and project colours are held in maps. Access these colours using:
///
///   color($KEY)
///
/// @example
///
///   .foo {
///     color: color(brand);
///   }

$colors: (
  brand:     #5a4099,
  brand-alt: #23C7DB, // bright cerulean
  highlight: #73add8,
  error:     #ff2744,
  success:   #299934,
  grey-10:   #eaeaea,
  grey-20:   #c0c0c0,
  grey-30:   #9f9f9f,
  grey-40:   #7f7f7f,
  grey-50:   #222,
  text:      #4a4a4a,
  black:     #000,
  white:     #fff
) !default;
