//  ==========================================================================
/// Global variables and settings
/// @group settings
//  ==========================================================================

$base-line-height: 1.3;
$base-radius: 3px;
$base-transition: 0.333333333s;
$base-spacing-unit: 20px;
$base-unit-testing: 1;


// Base paths
$base-skin-path: '/Portals/0-System/Skins/HNK/';
// Font path
$base-font-path: $base-skin-path + 'fonts/';
// Images path
$base-images-path: $base-skin-path + 'images/';


// Page header
$page-header-height: 60px;
$page-header-height-L: 110px;
