////
// Global settings and variables
// @group settings
////

// Global path settings
// ==============================================

$global-skin-path: "/portals/0-System/skins/SKIN_NAME/";
$global-font-path: $global-skin-path + "fonts/";
$global-images-path: $global-skin-path + "images/";

// Global typography settings
// ==============================================

$global-font-size: 18px !default;
$global-line-height: 26px !default;
$global-ff-display: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif !default;
$global-ff-text: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif !default;

// Global spacing settings
// ==============================================

$global-spacing-unit: 20px !default;
$global-spacing-unit-tiny: round(0.25 * $global-spacing-unit);
$global-spacing-unit-small: round(0.5 * $global-spacing-unit);
$global-spacing-unit-large: round(2 * $global-spacing-unit);
$global-spacing-unit-huge: round(4 * $global-spacing-unit);

// Global Container Settings
// ==============================================

$global-container-width: 1200px !default;

// Global border settings
// ==============================================

$global-border-width: 1px !default;
$global-border-radius: 0.25em !default;

// Global animation settings
// ==============================================

$global-animation-speed: 0.5s !default;
$global-animation-speed-fast: 0.5 * $global-animation-speed;
$global-animation-speed-slow: 2 * $global-animation-speed;

// Global Shadow Settings
// ==============================================

$global-shadow-color: #000;
$global-shadow-intensity: 0.2;
$global-shadow-x: 0;
$global-shadow-y: 1px;
$global-shadow-blur: 10px;
$global-shadow-spread: 0;

$global-shadow: unquote($global-shadow-x + " " + $global-shadow-y + " " + $global-shadow-blur + " " + $global-shadow-spread + " " + rgba($global-shadow-color, $global-shadow-intensity));



