/// @todo
/// This shall stop the z-index chaos
///
///   color($KEY)
///
/// @example
///
///   .foo {
///     color: color(brand);
///   }

$zindex: (
  ads: 1010, // Ads
  content: 1015, // Modals and overlays inside content
  sticky: 1020, // Sticky header
  modal: 1030, // Search modal
  popover: 1040, // Popovers
  overlay: 1050, // Lightbox
  offcanvas: 1060  // Offcanvas mobile navigation
) !default;
