// Fonts call
// @deprecated Find a better place for font calling
// Open Sans
@include font-face( "OpenSans", $global-font-path + "opensans/OpenSans-Light-webfont", ("woff2", "woff")) {
  font-style: normal;
  font-weight: 300;
}
@include font-face( "OpenSans", $global-font-path + "opensans/OpenSans-LightItalic-webfont", ("woff2", "woff")) {
  font-style: italic;
  font-weight: 300;
}
@include font-face( "OpenSans", $global-font-path + "opensans/OpenSans-Regular-webfont", ("woff2", "woff")) {
  font-style: normal;
  font-weight: normal;
}
@include font-face( "OpenSans", $global-font-path + "opensans/OpenSans-Italic-webfont", ("woff2", "woff")) {
  font-style: italic;
  font-weight: normal;
}
@include font-face( "OpenSans", $global-font-path + "opensans/OpenSans-Semibold-webfont", ("woff2", "woff")) {
  font-style: normal;
  font-weight: 600;
}
@include font-face( "OpenSans", $global-font-path + "opensans/OpenSans-SemiboldItalic-webfont", ("woff2", "woff")) {
  font-style: italic;
  font-weight: 600;
}
@include font-face( "OpenSans", $global-font-path + "opensans/OpenSans-Bold-webfont", ("woff2", "woff")) {
  font-style: normal;
  font-weight: 700;
}
@include font-face( "OpenSans", $global-font-path + "opensans/OpenSans-BoldItalic-webfont", ("woff2", "woff")) {
  font-style: italic;
  font-weight: 700;
}
@include font-face( "OpenSans", $global-font-path + "opensans/OpenSans-ExtraBold-webfont", ("woff2", "woff")) {
  font-style: normal;
  font-weight: 800;
}
@include font-face( "OpenSans", $global-font-path + "opensans/OpenSans-ExtraBoldItalic-webfont", ("woff2", "woff")) {
  font-style: italic;
  font-weight: 800;
}
