/// @deprecated Start using svg's instead of fonts for icons

// Base icons font call
@include font-face("hnk-icons", "fonts/hnk-icons/hnk-icons", 400, $file-formats: eot woff);

// Base icons variables
$icon-clock: "\f017";
$icon-print: "\f02f";
$icon-map-pin: "\f041";
$icon-twitter: "\f099";
$icon-facebook: "\f09a";
$icon-expand-more: "\e5cf";
$icon-stars: "\e8d0";
$icon-youtube: "\ea9e";
$icon-sponsors: "\e901";
$icon-ticket: "\e905";
$icon-cart: "\e906";
$icon-location: "\e902";
$icon-calendar: "\e903";
$icon-download: "\e960";
$icon-save: "\e962";
$icon-search: "\e986";
$icon-hnk: "\e904";
$icon-mail: "\e907";
$icon-news: "\e900";
$icon-google: "\e908";
$icon-home: "\e909";



.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'hnk-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-clock {
  &:before {
    content: $icon-clock;
  }
}
.icon-print {
  &:before {
    content: $icon-print;
  }
}
.icon-map-pin {
  &:before {
    content: $icon-map-pin;
  }
}
.icon-twitter {
  &:before {
    content: $icon-twitter;
  }
}
.icon-facebook {
  &:before {
    content: $icon-facebook;
  }
}
.icon-expand-more {
  &:before {
    content: $icon-expand-more;
  }
}
.icon-stars {
  &:before {
    content: $icon-stars;
  }
}
.icon-youtube {
  &:before {
    content: $icon-youtube;
  }
}
.icon-sponsors {
  &:before {
    content: $icon-sponsors;
  }
}
.icon-ticket {
  &:before {
    content: $icon-ticket;
  }
}
.icon-cart {
  &:before {
    content: $icon-cart;
  }
}
.icon-location {
  &:before {
    content: $icon-location;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-download {
  &:before {
    content: $icon-download;
  }
}
.icon-save {
  &:before {
    content: $icon-save;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-hnk {
  &:before {
    content: $icon-hnk;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-news {
  &:before {
    content: $icon-news;
  }
}
.icon-google {
  &:before {
    content: $icon-google;
  }
}

.icon-home {
  &:before {
    content: $icon-home;
  }
}


// Icon burger
.icon-burger,
.icon-burger:before,
.icon-burger:after {
  /* Force Hardware Acceleration in WebKit */
  @include transform(translateZ(0));
  @include backface-visibility(hidden);
  /* icon created in CSS */
  position: absolute;
  background-color: $color-white;
  border-radius: 2px;
}

.icon-burger {
  @include transform(translateY(-50%));
  @include transition(transform 0.3s, background-color 0.3s);
  /* middle line of the menu icon */
  display: inline-block;
  width: 12px;
  height: 2px;
  left: 0;
  top: 50%;
  bottom: auto;
  right: auto;
}

.icon-burger:before, .icon-burger:after {
  @include transition-property(transform);
  @include transition-duration(0.3s);
  /* upper and lower lines of the menu icon */
  content: '';
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.icon-burger:before {
  @include transform(translateY(-4px));
}

.icon-burger:after {
  @include transform(translateY(4px));
}

.is-active > .icon-burger {
  /* transform the icon into a 'X' */
  background-color: transparent;
}

.is-active > .icon-burger:before, .is-active > .icon-burger:after {
  background-color: $color-white;
}

.is-active > .icon-burger:before {
  @include transform(translateY(0) rotate(45deg));
}

.is-active > .icon-burger:after {
  @include transform(translateY(0) rotate(-45deg));
}
