/* Accessible hidden content.
   ========================================================================== */

%u-h,
.u-h {
  @include u-h;
}

.hide,
.is-hidden,
[hidden] {
  display: none !important;
}

//
.hide-until\@sm {
  @include oGridRespondTo($until: S) {
    display: none !important;
  }
}
.hide-until\@md {
  @include oGridRespondTo($until: M) {
    display: none !important;
  }
}
.hide-until\@lg {
  @include oGridRespondTo($until: L) {
    display: none !important;
  }
}
.hide-until\@xl {
  @include oGridRespondTo($until: XL) {
    display: none !important;
  }
}
//
.hide-from\@sm {
  @include oGridRespondTo($from: S) {
    display: none !important;
  }
}
.hide-from\@md {
  @include oGridRespondTo($from: M) {
    display: none !important;
  }
}
.hide-from\@lg {
  @include oGridRespondTo($from: L) {
    display: none !important;
  }
}
.hide-from\@xl {
  @include oGridRespondTo($from: XL) {
    display: none !important;
  }
}
//
.show-from\@sm {
  @include oGridRespondTo($from: S) {
    display: block !important;
  }
}
.show-from\@md {
  @include oGridRespondTo($from: M) {
    display: block !important;
  }
}
.show-from\@lg {
  @include oGridRespondTo($from: L) {
    display: block !important;
  }
}
.show-from\@xl {
  @include oGridRespondTo($from: XL) {
    display: block !important;
  }
}
//
.show-until\@sm {
  @include oGridRespondTo($until: S) {
    display: block !important;
  }
}
.show-until\@md {
  @include oGridRespondTo($until: M) {
    display: block !important;
  }
}
.show-until\@lg {
  @include oGridRespondTo($until: L) {
    display: block !important;
  }
}
.show-until\@xl {
  @include oGridRespondTo($until: XL) {
    display: block !important;
  }
}
//
.u-cf {
  @include clearfix;
}

.u-baseline-top {
  margin-top: $base-spacing-unit;
}


/**
 * Responsive media (images, videos…)
 *
 * 1. Give the block an initial ratio of 5/3 to avoid FOUC
 * 2. Stretch the contained media to the dimensions of its container
 */

.u-responsive-ratio {
  @include fix-aspect-ratio(5, 3); // 1
  img,
  object,
  embed,
  iframe,
  svg,
  video { // 2
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.u-responsive-ratio--hd {
  padding-bottom: aspect-ratio-height(16, 9);
}

.u-responsive-ratio--hd2 {
  padding-bottom: aspect-ratio-height(9, 3);
}

.u-responsive-ratio--letterbox {
  padding-bottom: aspect-ratio-height(5, 2);
}


///
/// Text hyphenation
///
/// Break strings when their length exceeds the width of their container
/// and hyphenate words at the end of lines using the `hyphens` property.
/// Browser support for hyphenation: http://caniuse.com/#search=hyphenation
///

.u-text-hyphenate {
  word-wrap: break-word;
  hyphens: auto;
}

.u-test-ellipsis {
  @include ellipsis();
}


/**
 * Reset button styles
 */

.u-button-reset {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  background: transparent;

  &:focus {
    outline: 0;
  }
}


/**
 * Fakes text underline with a border
 */

.u-underline,
%u-underline {
  text-decoration: none !important;
  border-bottom: 1px solid colour(neutral-4);
  transition: border-color .15s ease-out;

  &:hover,
  &:focus {
    /*border-color: ;*/
  }

  &:active {
    /*border-color: ;*/
  }
}


/**
 * Prevent line breaks
 */

.u-nobr {
  white-space: nowrap;
}

/**
 * Add/Remove padding
 *
 * Modification of Harry Roberts's
 * https://github.com/csswizardry/inuit.css/blob/master/generic/_helper.scss
 */

.flushp {
  padding: 0 !important;
}

.flushp--top {
  padding-top: 0 !important;
}

// Reset standard padding to specific values
.u-p--top-3 {
  padding-top: 3px;
}
.u-p--bottom-3 {
  padding-bottom: 3px;
}

.meta-button { // unstyles button elements (so they can be used for semantics)
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

.u-font-weight-normal {
  font-weight: normal;
}

.u-vertical-align-middle-icon {
  svg {
    vertical-align: middle;
  }
}

/// Float elements
///
/// Element helpers for floating
///
/// @group helpers

.u-pull--left {
  float: left;
}

.u-pull--right {
  float: right;
}
//
.u-pull--left\@sm {
  @include oGridRespondTo($from: S) {
    float: left;
  }
}

.u-pull--right\@sm {
  @include oGridRespondTo($from: S) {
    float: right;
  }
}
//
.u-pull--left\@md {
  @include oGridRespondTo($from: M) {
    float: left;
  }
}

.u-pull--right\@md {
  @include oGridRespondTo($from: M) {
    float: right;
  }
}
//
.u-pull--left\@lg {
  @include oGridRespondTo($from: L) {
    float: left;
  }
}

.u-pull--right\@lg {
  @include oGridRespondTo($from: L) {
    float: right;
  }
}
//
.u-pull--left\@xl {
  @include oGridRespondTo($from: XL) {
    float: left;
  }
}

.u-pull--right\@xl {
  @include oGridRespondTo($from: XL) {
    float: right;
  }
}

/// Text alignment
///
/// Element helpers for text alignment
///
/// @group helpers

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-text-center {
  text-align: center;
}

//
.u-hide-border {
  border: none;
}
