.article-detail--novosti {
    //flex: 1 0 auto;

    // Article header
    .article-detail--header {

        background:  linear-gradient( rgba(0, 0, 0, 0.78),  rgba(0, 0, 0, 0.48) ),
        url('/Portals/0-System/Skins/HNK/images/brand/header-bg.png');
        background-size: cover;
        border-top: solid 1px $color-article-detail-border;
        // breadcrumbs
        &-breadcrumbs {
            padding: 80px 0 100px;
            color: $color-article-detail-meta;

            @include oGridRespondTo($from: S) {
                @include oGridColspan(9);
                @include oGridPush(3);
            }

            @include oGridRespondTo($until: L) {
                padding: 20px 0 10px;
            }

            @include oGridRespondTo($until: S) {
                padding: 0;
                width: 100%;
                text-align: center;
            }

            .bullet:before {
                content: "•";
                font-size: 25px;
                color: #9aa5b4;
                margin: 0 15px;
                position: relative;
                top: 5px;
            }
        }
    }

    .article-detail {
        $margin-top: 75px;

        &__white {
            position: relative;
            color: $color-black;
            font-family: $base-ff-text;

            @include oGridRespondTo($from: L) {
                margin-top: -$margin-top;
            }

        }
        // Sadržaj
        &--content {
            z-index: 1;

            &--summary {
              font-size: 2rem;
              line-height: 2.4rem;
              font-weight: 600;
            }
        }
        // bijeli overlay
        &--content--overlay {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            background: $color-white;
            height: $margin-top + 1px;
            width: 50%;

            @include oGridRespondTo($from: L) {
                display: block;
            }
        }

        &--title {
            background: $color-white;
            padding: 30px 0 20px 0;
            //margin: 0 15px 0 20px;
            @include FontSizeFor(edn-article-title, 3);
            text-align: center;

            @include oGridColspan((default: 12, S: 12, M: 10, L: 8, XL: 8));

            @include oGridRespondTo($from: M) {
                @include oGridOffset(3);
                text-align: left;
            }

            @include oGridRespondTo($from: M) {
              @include FontSizeFor(edn-article-title, 4);
            }
        }

        &--image {
            margin-bottom: 20px;
            text-align: center;
            @include oGridColspan((default: 12, S: 12, M: 3, L: 3, XL: 3));

            @include oGridRespondTo($until: S) {
                margin-bottom: 20px;

                img {
                    width: 100%;
                }
            }
            @include oGridRespondTo($from: M) {
              text-align: left;
            }
        }

        &--content-body {
            @include oGridColspan((default: 12, S: 12, M: 10, L: 8, XL: 8));
            @include FontSizeFor(edn-article-summary, 2);
            margin-bottom: $base-spacing-unit;
            @include oGridRespondTo($from: M) {
              margin-bottom: $base-spacing-unit*2;
            }

            b , strong {
                @include FontSizeFor(edn-article-summary, 3);
                font-weight: 600;
            }
        }
    }
}

.article-detail--header-breadcrumbs {
  padding-left: 5px!important;
// Footer
.article-detail--footer {
    height: auto;

    &--tags {
        @include oGridColspan((default: 12, S: 12, M: 6, L: 6, XL: 6));
        line-height: 80px;
        color: $color-grey-tint6;
        font-weight: 600;

        span {
            color: $color-blue;
        }

        @include oGridRespondTo($until: M) {
            text-align: center;
            line-height: 80px;
        }
    }

    &--social-links {
        @include oGridColspan((default: 12, S: 12, M: 6, L: 6, XL: 6));
        text-align: right;
        line-height: 80px;

        @include oGridRespondTo($until: M) {
            text-align: center;
            line-height: 50px;
        }

        a.icon {
            width: 6rem;
            padding: 0 3.5rem;
            font-size: 1.8rem;
        }
    }
}

}

.article-detail--iz-medija {
  .article-detail {
    &--title {
      margin-left: 0;
    }

    &--header-breadcrumbs {
      left: 0;
    }
  }
}
