//
.ModEasyDNNGalleryC .eds_GravityGallery_HNK .edsgg__itemsListContainer {
  @include oGridRow();
  margin-left: -20px;
}

.ModEasyDNNGalleryC .eds_GravityGallery_HNK .edsgg__itemContainer {
  @include oGridColspan((default: 12, S: 6, L: 3));
  margin: 0;
  padding-left: 20px;
}

.edsgg__section--homepage {
  position: relative;
  padding-top: $base-spacing-unit * 2;
  padding-bottom: $base-spacing-unit;
  background-color: $color-video-gallery-background;
}

.ModEasyDNNGalleryC .edsgg__itemContainer:not(:last-child) .edsgg_item-container {
  @include oGridRespondTo($until: L) {
    padding-bottom: $base-spacing-unit;
  }
}

.ModEasyDNNGalleryC .edsgg__section-title {
  font-family: $base-ff-display;
  color: $color-video-gallery-text-hover;
  text-transform: uppercase;
  @include FontWeight(light);

}
.ModEasyDNNGalleryC .edsgg__section-link {
  position: absolute;
  top: 0;
  right: $base-spacing-unit;
  color: $color-video-gallery-link;

  @include hocus(){
    color: $color-video-gallery-link-hover;
    text-decoration: none;
  }
}

.ModEasyDNNGalleryC .edsgg_title {
  display: block;
  padding-top: $base-spacing-unit;

  a {
    color: $color-video-gallery-text;

    @include hocus(){
      color: $color-video-gallery-text-hover;
      text-decoration: none;
    }
  }
}
.ModEasyDNNGalleryC .edsgg_thumbnail {
  position: relative;
  border: 1px solid $color-video-gallery-border;
  border-radius: 0;

  img {
    width: 100%;
  }
}
