/// Component: Gallery
/// dependency: EasyDnnGallery - Gravity
.c-gallery {
  @include oGridRespondTo($from: L) {
    margin-top: $base-spacing-unit*2;
  }
  background-color: $color-gallery-background;
}

.c-gallery__download {
  display: none; // hide at start
  color: white;
  background-color: $color-gallery-download-background;
  position: absolute;
  bottom: 0;
  left: 0;

  .fotorama__loaded & {
    display: block; // show on init
  }
}

.fotorama__stage__frame > img {
  margin-bottom: 40px;
}

.c-gallery__download-link {
  display: block;
  padding: $base-spacing-unit/2 $base-spacing-unit;
  font-size: 16px;
  color: $color-gallery-download-links;

  @include hocus() {
    color: $color-gallery-download-links-hover;
    text-decoration: none;
  }

}

.fotorama__thumb-border {
  border-color: $color-gallery-thumb-border;
}
