
.event-schedule__item {
  padding-top: $base-spacing-unit/2;
  padding-bottom: $base-spacing-unit/2;
  border-bottom: solid 1px #ccc;
  //background-color: $color-schedule-item-background;
}
.event-schedule__date {
  @include FontWeight(medium);
  @include size(50px 50px);
  padding: 8px 5px;
  color: $color-white;
  text-align: center;
  background-color: $color-schedule-date-background;
  margin-right: 10px;
  @include oGridRespondTo(M) {
     @include size(80px 80px);
    padding: 15px;
    margin-right: 20px;
  }
}
.event-schedule__start-date {
  display: block;
  @include FontSizeFor(event-schedule-start-date, 2);

  @include oGridRespondTo(M) {
     @include FontSizeFor(event-schedule-start-date, 4);
  }
}
.event-schedule__start-time {
  display: block;
  @include FontSizeFor(event-schedule-start-time, 3);

  @include oGridRespondTo(M) {
     @include FontSizeFor(event-schedule-start-time, 5);
  }
}
.event-schedule__item--Izložba .event-schedule__description span {
  display: none;
}
.event-schedule__description .hide-description {
  display: none;
}
.event-schedule__body {
  @include oGridRow();
}
.event-schedule__content {
  @include oGridColspan((default: 12, S: 8, XL: 9));
  @include oGridRespondTo(L) {
    padding-top: $base-spacing-unit/4;
  }
}
.event-schedule__content--related {
  @include oGridColspan((default: 12, S: 8, XL: 9));
}
.event-schedule__premiere {
  @include FontWeight(medium);
  margin-bottom: $base-spacing-unit/4;
  padding: 2px 15px;
  float: left;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: $color-schedule-premiere-text;
  background-color: $color-schedule-premiere-background;
  @include oGridRespondTo(L) {
    margin-top: -($base-spacing-unit/4);
    font-size: 14px;
    line-height: 16px;
  }
}
.event-schedule__headline {
  clear: left;
}
.event-schedule__headline {
  @include FontSizeFor(event-schedule-title, 3);
  @include FontWeight(medium);
  margin-bottom: $base-spacing-unit/8;
  text-transform: uppercase;
  @include oGridRespondTo(L) {
     @include FontSizeFor(event-schedule-title, 4);
     margin-bottom: $base-spacing-unit/4;
  }
}
.event-schedule__author {
  color: $color-schedule-author;
}
.event-schedule__author:after {
  content: ': ';
}
.event-schedule__author:empty {
  display: none;
}
.event-schedule__link {
  //color: $color-schedule-title;
  @include hocus {
    text-decoration: none;
  }
}
.event-schedule__location {
  @include FontSizeFor(event-schedule-description, 2);
  margin-bottom: $base-spacing-unit/4;
  display: inline-block;
  @include oGridRespondTo(L) {
    @include FontSizeFor(event-schedule-description, 3);
    margin-bottom: $base-spacing-unit/4;
  }
  .icon {
    font-size: 12px;
    margin-right: 5px;
    line-height: 18px;
  }
}
.event-schedule__guest {
  @include FontSizeFor(event-schedule-description, 2);
  margin-bottom: $base-spacing-unit/4;
  font-weight: 600;
  @include oGridRespondTo(L) {
    @include FontSizeFor(event-schedule-description, 3);
    margin-bottom: $base-spacing-unit/4;
  }
  padding-left: 5px;
}
.event-schedule__description {
  @include FontSizeFor(event-schedule-description, 1);
  color: $color-schedule-description;
  text-transform: uppercase;
  margin-bottom: $base-spacing-unit/4;
  @include oGridRespondTo(M) {
    margin-bottom: 0;
    @include FontSizeFor(event-schedule-description, 2);
  }
  > p {
    margin-bottom: 0;
  }
}
.event-schedule__btn-list {
  @include oGridColspan((default: 12, S: 4, XL: 3));

  @include oGridRespondTo($from:S) {
    text-align: right;
  }
  @include oGridRespondTo(M) {
    padding-top: 10px;
    padding-right: 30px;
  }
  @include oGridRespondTo(L) {
    //padding-top: 15px;
  }
  .c-btn + .c-btn {
    @include oGridRespondTo(L) {
      margin-left: $base-spacing-unit/2;
    }
  }
  .c-btn {
    margin-top: $base-spacing-unit/4;
    text-transform: uppercase;

    @include oGridRespondTo($until:L) {
      padding: 8px;
      font-size: 12px;
    }
    @include oGridRespondTo($from:S, $until:M) {
      width: 100%;
    }
    @include oGridRespondTo(L) {
      @include FontSizeFor(button, 4);
      padding: 14px 16px;
    }
  }
}


.event-schedule__btn-list--related {
  @include oGridColspan((default: 12, M: 3));
}
.event-schedule__btn-list--related a.c-btn--secondary[href=''] {
  display: none;
}
//
.event-schedule__item {
  &.is-canceled {
    background-color: $color-schedule-canceled-background;
    .event-schedule__date {
      opacity: 0.60;
      background-color: $color-schedule-canceled-date;
    }
  }
}
.event-canceled {}
.event-canceled__link {
  text-decoration: none;
  color: $color-schedule-canceled-link;
  @include hocus() {
    text-decoration: none;
    color: $color-schedule-canceled-link-hover;
  }
}
.event-canceled__title {
  @include FontSizeFor(headings, 2);
  @include FontWeight(medium);
  margin-bottom: 0;
  font-family: $base-ff-display;
  text-transform: uppercase;
}

// Preplatnicki ciklusi
.EDN_cf_checkboxList {
  margin: 0;
  padding: 0;
  //display: inline-block;
  list-style: none;
}

.EDN_cf_checkbox_checked {
  display: inline-block;

  &:not(:last-child):after {
    content: ',';
  }

  &:not(:last-child) {
    margin-right: 5px;
  }
}
