.story-feed {
  @include oGridColspan((default: 12));
}

.story-feed--inner {
  padding-top: $base-spacing-unit/2;
  padding-bottom: $base-spacing-unit/2;
  border-bottom: solid 1px $color-story-feed-border;

  @include oGridRespondTo($from: L) {
    padding-top: $base-spacing-unit;
    padding-bottom: $base-spacing-unit;
  }
}

.story-feed__image-wrap {
    width: 110px;
    margin-right: $base-spacing-unit/2;

    @include oGridRespondTo($from: M) {
      width: 220px;
    }

    .c-page--front & {
      @include oGridRespondTo($from: L) {
        width: 180px;
      }
    }
}

.story-feed__figure {
  margin-bottom: 0;
}

.story-feed__image {
  width: 100%;
}


.story-feed__content {
}

.story-feed__meta {
  @include FontSizeFor(story-feed-meta, 2);
  @include FontWeight(normal);
  color: $color-story-feed-meta;
  margin-bottom: $base-spacing-unit/2;

  @include oGridRespondTo($from: L) {
    @include FontSizeFor(story-feed-meta, 4);
  }
}

.story-feed__title {
  @include FontSizeFor(story-feed-title, 2);
  @include FontWeight(medium);
  margin-bottom: $base-spacing-unit/2;

  @include oGridRespondTo($from: M) {
    @include FontSizeFor(story-feed-title, 4);
  }

  @include oGridRespondTo($from: L) {
    @include FontSizeFor(story-feed-title, 5);
  }

}
.story-feed__summary {
  @include FontSizeFor(story-feed-summary, 2);
  @include text-clamp(4, get-line-height(story-feed-summary, 2));

  & p,
  & div {
    margin-bottom: 0;
  }
  b, strong {
    @include FontWeight(normal);
  }
}
.story-feed__link {
  color: $color-story-feed-link;

  @include hocus {
    color: $color-story-feed-link-hover;
    text-decoration: none;
  }

}

.story-feed {
  @include hocus {
    .story-feed__link {
    color: $color-story-feed-link-hover;
    }
  }
}
