//
.ensamble {
  margin: 0 0 ($base-spacing-unit * 1.5);

  &__item {
    // padding: 50px 20px 40px;
    background-color: $color-black;
    background-repeat: no-repeat;
    background-position: left bottom;
    min-height: 320px;

    &__box {
      position: absolute;
      right: $base-spacing-unit;
      bottom: $base-spacing-unit;
    }

    &__title {
      display: block;
      color: $color-white;
      text-align: right;
      text-transform: uppercase;
      margin-bottom: $base-spacing-unit/2;
      
      &:hover {
        text-decoration: none;
        color: rgba($color-white, .2);
      }
    }

    &__summary {
      // position: absolute;
      // left: 100%;
      // transform: translateX(-100%);
      // width: 190px;
      color: $color-white;
      text-align: right;
    }

    p {
      margin-bottom: 0;
    }
  }
}
