// If show has ended
.has-ended {
  display: none !important;
}

.article-detail {
  position: relative;
  .event-schedule__btn-list {
    text-align: left;
    padding-left: 0;
    margin-top: 20px;
  }
}
.article-detail__overlay--wrap {
  position: relative;
}
// Header
.show-header__inner {
  position: relative;
  overflow: hidden;
  background-color: #000;
  max-height: 625px;
}
.show-header__image-wrap {
  margin-bottom: 0; // reset basic figure margin
  @include oGridRespondTo($from:M, $until: L) {
    min-height: 500px;
  }
  @include oGridRespondTo($until: M) {
    min-height: 240px;
  }
}
.o-crop--play-detail {
  padding-bottom: 41%;
}

.no-objectfit, .no-object-fit {
  .show-header__image {
    width: 100%;

    @include oGridRespondTo($from: L) {
      top: -20%;
    }
  }
}

.objectfit, .object-fit {
  .show-header__image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.show-header__meta-data {
  font-family: $base-ff-display;
  //
  padding-top: $base-spacing-unit;
  padding-bottom: $base-spacing-unit;
  background-color: $color-show-header-background;
  @include oGridRespondTo($from: M) {
    padding-top: $base-spacing-unit*2;
  }
}
.show-header__meta-main {
  @include oGridColspan((default: 12, M: 9));
}
.show-header__main-title {
  font-family: $base-ff-display;
  font-size: 25px;
  line-height: 28px;
  color: $color-show-header-title;
  margin-bottom: 0;
  @include oGridRespondTo($from: L) {
    font-size: 40px;
    line-height: 48px;
  }
}
.show-header__meta-extra {
  @include oGridColspan((default: 12, M: 3));
  font-size: 14px;
  color: $color-show-header-meta-text;
  margin-top: $base-spacing-unit;
  //
  @include oGridRespondTo($from: M) {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-top: 0;
  }
  @include oGridRespondTo($from: L) {
    font-size: 16px;
  }
  .icon {
    @include size(20px 26px);
    display: inline-block;
    margin-right: 5px;
    font-size: 20px;
    text-align: center;
    vertical-align: middle;
    @include oGridRespondTo($from: L) {
      margin-right: 10px;
    }
  }
  p {
    margin-bottom: 0;
  }
}
.show-header__location,
.show-header__time {
  float: left;
  margin-top: 5px;
  margin-right: $base-spacing-unit;
  @include oGridRespondTo($from: M) {
    margin-right: 0;
    float: none;
  }
}
.show-header__meta-type {
  margin-bottom: $base-spacing-unit/2;
}

// Show header small
.show-header--small {
  padding-top: $base-spacing-unit;
  padding-bottom: $base-spacing-unit;
}

.show-header__body--small {
  padding-top: 0;
}

.show-header__meta-main--small {
  @include oGridColspan((default: 12));
}

.show-header__meta-extra--small {
  @include oGridColspan((default: 12, L: 3));
  margin-top: 0;

  @include oGridRespondTo($from: L) {
    position: absolute;
    top: 0;
    margin-top: 0;
  }

  & .show-header__location,
  & .show-header__time {
    float: left;
    margin-top: 15px;
    margin-right: 20px;
    @include oGridRespondTo($from: L) {
      margin-top: 5px;
    }
  }
}

.show-header__summary {
  @include oGridColspan((default: 12));
  margin-top: $base-spacing-unit/2;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  @include oGridRespondTo($from: L) {
    font-size: 18px;
    line-height: 28px;
  }

  > p {
    margin-bottom: 0;
  }
}

// Article detail header (main image and summary)
.article-detail--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: $color-play-header-background;
}
.article-detail--image {
  width: 275px;
  @include oGridRespondTo($from: M, $until: L) {
    width: 200px;
  }
  @include oGridRespondTo($from: XS, $until: M) {
    width: 140px;
  }
  img {
    border: 3px solid $border-post-detail-image-color;
  }
  figure {
    margin-bottom: 0;
  }
}
.article-detail__header-body {
  padding: 10px 0;
  color: $color-play-header-text;
}
.show-header__meta-show-type {
  @include FontWeight(normal);
  font-family: $base-ff-display;
  display: inline-block;
  float: left;
  margin-right: 15px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 28px;
  padding: 0 15px;
  border-radius: 3px;
  color: #fff;
}
.show-header__meta-author {
  float: left;
  font-family: $base-ff-display;
  font-size: 14px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 0;
  color: $color-play-header-text;
  @include oGridRespondTo($from: M) {
    font-size: 16px;
  }
}
.article-detail__header--title {
  font-size: 32px;
  line-height: 34px;
  font-weight: 300;
  text-transform: uppercase;
  color: $color-play-header-text;
  @include oGridRespondTo($until: M) {
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 10px;
  }
}
.article-detail__header--text {
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  font-family: $base-ff-text;
  color: $color-play-header-text;
  @include oGridRespondTo($until: M) {
    display: none;
  }
}
// Article detail gray line (tab links and social sharing)
.article-detail__gray {
  background-color: $color-grey-tint2;
  @include oGridRespondTo($from: S) {}
  .article-detail--tabs {
    @include oGridRespondTo($until: S) {
      padding: 0;
    }
  }
}
.article-detail__social-links {
  float: right;
  //line-height: 80px;
  padding-top: 25px;

  a.icon {
    position: relative;
    color: $color-grey-tint4;
    height: 22px;
    width: 100px;
    overflow: hidden;
    text-indent: 100%;
    display: inline-block;
    font-size: 24px;
    padding: 0 45px;
    @include oGridRespondTo($from: M, $until: L) {
      width: 60px;
      padding: 0 35px;
      font-size: 18px;
    }
    &:before {
      float: left;
      text-indent: 0;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      border-left: 1px solid $border-post-detail-social;
    }
    &:first-child:after {
      display: none;
    }

    @include hocus() {
      color: $color-grey-tint5;
    }
  }
}
// Tabs activation styles
.tab-pane {
  display: none;
}
.tab-pane.active {
  display: block;
}
.fade {
  opacity: 0;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.article-detail--tabs {
  ul {
    list-style-type: none;
    margin: 0;

    li {
      float: left;
      a {
        @include FontWeight(medium);
        //
        display: block;
        padding: 15px 25px;
        font-size: 16px;
        color: $color-show-nav-tab-title;
        text-decoration: none;
        @include oGridRespondTo($from: M) {
          padding: 28px 25px;
          font-size: 19px;
        }
      }
    }
    li.active {
      background: $color-show-nav-tab-background-active;
    }
  }
}
// Article detail main content styles

.article-detail__content-main--left,
.article-detail__content-main--right {
  @include oGridColspan((default: 12, L: 6));

  padding-top: $base-spacing-unit;
  padding-bottom: $base-spacing-unit;

  @include oGridRespondTo($from: L) {
    padding-top: $base-spacing-unit*2;
    padding-bottom: $base-spacing-unit*2;
  }

}
.article-detail__content-main--right {
  @include oGridRespondTo($until: L) {
    padding-top: 0;
  }
}
.article-detail__content-main--left h2 {
  color: $color-black;
  font-size: 22px;
  line-height: 24px;
  font-weight: 600;
}
.article-detail__content-detail--text {
}

// Ansamble details
.article-detail__ansamble h2 {
  text-align: center;
}
// Links styles
.article-links {
  h2 {
    color: $color-black;
    font-size: 22px;
    line-height: 24px;
    font-weight: 600;
  }
  ul {
    list-style-type: none;
    margin-left: 0;
    li {
      margin-top: 10px;
      border-left: 3px solid $color-orange-tint;
      border-bottom: 1px solid $color-grey-tint5;
      padding: 20px;
      color: #000;
      &:hover {
        border-left: 3px solid $color-orange-tint-dark;
      }
      a {
        font-size: 20px;
        line-height: 26px;
        color: $color-blue;
        font-weight: 400;
        text-decoration: none;
      }
    }
  }
  .article-links__description {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: $color-grey-tint2;
    padding-top: 15px;
  }
}

// Related articles styles
.article-detail__related {
  background-color: $color-grey-tint2;
  padding: 40px 0;
  .event-schedule__btn-list {
    text-align: right;
    margin-top: 0;
  }
  .event-schedule__btn-list-right {
    text-align: right;
  }
  .event-schedule__title {
    font-size: 18px;
  }
}
