/* ==========================================================================
     UTILITIES / #COLORS
     ========================================================================== */

  /* Simple color helper classes
     =========================================== */

// Background colors
.u-bg-color--brand {
  background-color: color(brand);
}

.u-bg-color--brand-alt {
  background-color: color(brand-alt);
}

.u-bg-color--white {
  background-color: color(white);
}

.u-bg-color--black {
  background-color: color(black);
}

// Text colors
.u-color--brand {
  color: color(brand);
}

.u-color--brand-alt {
  color: color(brand-alt);
}

.u-color--white {
  color: color(white);
}

.u-color--black {
  color: color(black);
}

.u-color--grey-50 {
  color: color(grey-50);
}
