////
/// Visually hidden element﻿
/// Hide only visually, but have it available for screen readers:
/// @group utilities
/// @link http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
/// @example
///   <div class="u-hidden-visually">I'm a ghost to you but screen readers see me.</div>
////

%u-h,
.u-h,
.u-hidden-visually {
  @include u-h;
}
/// Hide visually and from screen readers.

.hide,
.is-hidden,
.u-hidden,
[hidden] {
  display: none !important;
}
/// Hide and Show based on media queries and grid layout
/// @todo Make smarter. Turn into a function repeat. Merge with mq and o-grid

.hide-until\@sm {
  @include oGridRespondTo($until: S) {
    display: none !important;
  }
}

.hide-until\@md {
  @include oGridRespondTo($until: M) {
    display: none !important;
  }
}

.hide-until\@lg {
  @include oGridRespondTo($until: L) {
    display: none !important;
  }
}

.hide-until\@xl {
  @include oGridRespondTo($until: XL) {
    display: none !important;
  }
}
//

.hide-from\@sm {
  @include oGridRespondTo($from: S) {
    display: none !important;
  }
}

.hide-from\@md {
  @include oGridRespondTo($from: M) {
    display: none !important;
  }
}

.hide-from\@lg {
  @include oGridRespondTo($from: L) {
    display: none !important;
  }
}

.hide-from\@xl {
  @include oGridRespondTo($from: XL) {
    display: none !important;
  }
}
//

.show-from\@sm {
  @include oGridRespondTo($from: S) {
    display: block !important;
  }
}

.show-from\@md {
  @include oGridRespondTo($from: M) {
    display: block !important;
  }
}

.show-from\@lg {
  @include oGridRespondTo($from: L) {
    display: block !important;
  }
}

.show-from\@xl {
  @include oGridRespondTo($from: XL) {
    display: block !important;
  }
}
//

.show-until\@sm {
  @include oGridRespondTo($until: S) {
    display: block !important;
  }
}

.show-until\@md {
  @include oGridRespondTo($until: M) {
    display: block !important;
  }
}

.show-until\@lg {
  @include oGridRespondTo($until: L) {
    display: block !important;
  }
}

.show-until\@xl {
  @include oGridRespondTo($until: XL) {
    display: block !important;
  }
}
/// Bind our clearfix onto a utility class.

.u-cf,
.u-clearfix {
  @include clearfix;
}
////
/// Responsive media (images, videos…)
///
/// 1. Give the block an initial ratio of 5/3 to avoid FOUC
/// 2. Stretch the contained media to the dimensions of its container
///
/// @group utilities
////

.u-responsive-ratio {
  @include fixAspectRatio(5, 3); // 1

  embed,
  iframe,
  img,
  object,
  svg,
  video {
    // 2
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.u-responsive-ratio--hd {
  padding-bottom: aspectRatioHeight(16, 9);
}

.u-responsive-ratio--hd2 {
  padding-bottom: aspectRatioHeight(9, 3);
}

.u-responsive-ratio--letterbox {
  padding-bottom: aspectRatioHeight(5, 2);
}
////
/// Text hyphenation
///
/// Break strings when their length exceeds the width of their container
/// and hyphenate words at the end of lines using the `hyphens` property.
/// Browser support for hyphenation: http://caniuse.com/#search=hyphenation
///
/// @group utilities
////

.u-text-hyphenate {
  word-wrap: break-word;
  hyphens: auto;
}

.u-test-ellipsis {
  @include ellipsis();
}
////
/// Reset button styles
/// @group utilities
/// @todo Consider merging with button component?
////

.u-button-reset {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  background: transparent;

  &:focus {
    outline: 0;
  }
}
////
/// Fakes text underline with a border
/// @group utilities
////

%u-underline,
.u-underline {
  text-decoration: none !important;
  border-bottom: 1px solid colour(neutral-4);
  transition: border-color 0.15s ease-out;

  &:focus,
  &:hover {
    /*border-color: ;*/
  }

  &:active {
    /*border-color: ;*/
  }
}
////
/// Prevent line breaks
/// @group utilities
////

.u-nobr {
  white-space: nowrap;
}
////
/// Add/Remove padding
///
/// Modification of Harry Roberts's
/// @link https://github.com/csswizardry/inuit.css/blob/master/generic/_helper.scss
/// @group utilities
////

.flushp {
  padding: 0 !important;
}

.flushp--top {
  padding-top: 0 !important;
}
// Reset standard padding to specific values

.u-p--top-3 {
  padding-top: 3px;
}

.u-p--bottom-3 {
  padding-bottom: 3px;
}

.meta-button {
  // unstyles button elements (so they can be used for semantics)
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

.u-font-weight-normal {
  font-weight: normal;
}

.u-vertical-align-middle-icon {
  svg {
    vertical-align: middle;
  }
}
////
/// Float elements
/// Element helpers for floating
///
/// @group utilities
////

.u-pull--left {
  float: left;
}

.u-pull--right {
  float: right;
}
//

.u-pull--left\@sm {
  @include oGridRespondTo($from: S) {
    float: left;
  }
}

.u-pull--right\@sm {
  @include oGridRespondTo($from: S) {
    float: right;
  }
}
//

.u-pull--left\@md {
  @include oGridRespondTo($from: M) {
    float: left;
  }
}

.u-pull--right\@md {
  @include oGridRespondTo($from: M) {
    float: right;
  }
}
//

.u-pull--left\@lg {
  @include oGridRespondTo($from: L) {
    float: left;
  }
}

.u-pull--right\@lg {
  @include oGridRespondTo($from: L) {
    float: right;
  }
}
//

.u-pull--left\@xl {
  @include oGridRespondTo($from: XL) {
    float: left;
  }
}

.u-pull--right\@xl {
  @include oGridRespondTo($from: XL) {
    float: right;
  }
}
////
/// Text alignment
/// Element helpers for text alignment
///
/// @group utilities
////

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-text-center {
  text-align: center;
}
////
/// Hide border
/// Element helper to hide border
///
/// @group utilities
////

.u-hide-border {
  border: none;
}
