/* ==========================================================================
     UTILITIES / #UNDERLINE
     ========================================================================== */


/* Fakes text underline with a border
     =========================================== */

%u-underline,
.u-underline {
  text-decoration: none !important;
  border-bottom: 1px solid color(grey-10);
  transition: border-color .15s ease-out;

  @include hocus() {
    //border-color: ;
  }
  &:active {
    //border-color: ;
  }
}
